*{
    background-color: black;
}
.navbar {
    background-color: black; /* Replace with your desired background color */
}
 



/* Visited link */
.nav-item a:visited {
    color: gold;
}

/* Mouse over link (hover) */
.nav-item a:hover {
    color: yellowgreen;
}

/* Selected link (active) */
.nav-item a:active {
    color: yellow;
}
.space{
    padding: 20px;
    background-color: black;
    color: white;
    font-size: large;
    text-align: center;
}
.exploremore{
    padding: 20px;
    background-color: black;
    color: white;
    font-size: large;
    text-align: center;
    
}
.card-body{

}



