<%- include('partials/navbar')%>

<section class="container">
  <h2 style="color: white; margin-left: 20px; margin-top: 80px">
    Search results for: <%= userInput %>
  </h2>
  <form action="/recommend" method="POST">
    <input type="text" name="name1" placeholder="Pulp Fiction" required />
    <button type="submit">Search</button>
  </form>
</section>
<%- include('partials/footer')%>
